body{
     font-family:       Verdana, Geneva, Arial, sans-serif;
     font-size:         medium;
     background-color:  #b3d1ff;
     color:             black;
     line-height:       1.6em;
     text-align:        justify;
}

.rahmen {
	font-style:         italic;
	border-color:       black;
	border-width:       1px;
	border-style:       thin;
	color:              #444444;
	background-color:   #cce0ff;
	padding:            25px;
	margin-top:         0px;
	margin-left:        30px;
	margin-right:       30px;
	box-shadow: 				10px 10px 5px #888888;
}

.box {
	margin-top:         30px;
	padding-left:       30px;
	padding-right:      30px;
}


.kursinfo{
    list-style-type:    circle;
    width:              90%
}

.ueberschrift{
    list-style-type:    none;
    font-weight:        bold;
    line-height:       1.6em;
}

.Links{
    text-align:         left;
}


.Rechts{
    text-align:         right;
}

.Center{
    text-align:         center;
}

.klein{
		width:							20%;
		
}

.gross{
		width:						80%;
		padding:					0px 40px 0px 10px;
}

td.linienLinks{
    text-align:         left;
		border:							thin solid black; 		
		border-collapse:		collapse;
}

td.linienCenter{
    text-align:         center;
		border:							thin solid black; 		
		border-collapse:		collapse;
}

div.figure p {
		display: 						table-cell;
  	width: 							100%;
}
div.figure p + p {
  	display: 						table-caption;
  	caption-side: 			top;
}

*/
/*das hier klappt nicht:
.box a:link{
  color:            #0404B4;
  text-decoration:  none;
  border-bottom:    none;
  font-weight:      bold;
}
*/