body{
     font-family:       Verdana, Geneva, Arial, sans-serif;
     font-size:         medium;
     background-color:  #b3d1ff;
     color:             black;
     line-height:       1.6em;
     text-align:        justify;
}

div#tabellenContainer{
    display:            table;
    width:              100%;
    margin-left:        auto;
    margin-right:       auto;
}

div#tabellenZeile{
    display:            table-row;
}

#hauptinhalt{
    display:            table-cell;
    width:              75%
    padding:            0px;
}

#seitenbilder{
    display:            table-cell;
    width:              25%;
    padding-top:       20px;
}

.rahmen {
	font-style:         italic;
	border-color:       black;
	border-width:       1px;
	border-style:       thin;
	color:              #444444;
	background-color:   #cce0ff;
	padding:            25px;
	margin-top:         0px;
	margin-left:        30px;
	margin-right:       30px;
	box-shadow: 10px 10px 5px #888888;
}

.box {
	margin-top:         30px;
	padding-left:       40px;
	padding-right:      20px;
}

.kursinfo{
    list-style-type:    circle;
    width:              90%
}

.ueberschrift{
    list-style-type:    none;
    font-weight:        bold;
    line-height:       1.6em;
}


.Center{
    text-align:         center;
}

.klein{
    text-align:         center;
		width:							30%;
}

.gross{
    text-align:         left;
		width:							70%;					
}



/*das hier klappt nicht:
.box a:link{
  color:            #0404B4;
  text-decoration:  none;
  border-bottom:    none;
  font-weight:      bold;
}
*/